{header}

<main>

    {navbar}

    <div class="page-body flex">

        {sidebar}

        <div class="main-panel w-11 p-all-upper animation a1">

            <div class="w-12 animation a2">

                <h1>Visão Geral</h1>

            </div>

            <div class="m-t p-t flex animation a3">

                {daytrade}

                {swingtrade}

            </div>

            <div class="m-t p-t trade flex animation a4">

                {news}

                {academy}

            </div>

            <div class="m-t p-t trade flex animation a5">

                {wallet}

                {reports}

            </div>

        </div>

    </div>

</main>

{footer}