{header}

<main>

    <div class="flex">

        <div class="w-6">

            <div class="w-7 m-auto">

                <div class="hv w-12 table m-auto">

                    <div class="cell-table">

                        <h1 class="p-b animation a1">Log in</h1>

                        <form class="p-t w-10 m-auto" enctype="multipart/form-data" id="f-log" method="POST">

                            <div class="form-group animation a3 m-b">
                                <input autocomplete="false" class="required" id="current-email" name="current-email"
                                       placeholder=" " type="email">
                                <label for="current-email">Digite seu e-mail cadastrado.</label>
                            </div>

                            <div class="form-group animation a4 m-b">
                                <input autocomplete="false" class="form-control required" id="current-password"
                                       name="current-password" placeholder=" " type="password">
                                <label class="sr-only" for="current-password">Digite sua senha.</label>
                            </div>

                            <input class="btn btn-circle animation a6 btn-linear c-white" id="login" name="login"
                                   type="submit" value="Entrar">

                        </form>

                        <div class="p-all w-10 m-auto animation a6">

                            <div class="m-t m-b w-10 m-auto animation a6">
                                <hr/>
                            </div>

                            <p class="p-b m-b">
                                Não está conseguindo acesso?
                            </p>
                            <a class="btn bt-border btn-circle c-primary" href="#" target="_self">
                                Recuperar senha
                            </a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="w-6 hv relative" style="background-image: url('/imgs/pages/login/login.jpg')">

            <div class="hv table m-auto">

                <div class="cell-table">
                    <img alt="{head->title}" class="login-card-img" height="200" src="imgs/base/favicon-invert.png"/>
                </div>

            </div>

            <div class="linear z-0 absolute wv hv l-0 r-0 t-0 b-0 z-0 "></div>

            {copyright}

        </div>

        {footer}

    </div>

</main>