<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="{head->description}" name="description">
    <meta content="Rodrigo Lucena <https://github.com/rslucena>" name="author">

    <title>{head->title}</title>

    <link href="{head->canonical}" rel="canonical">

    <!-- base:css -->
    <link href="/css/base/main.min.css" rel="stylesheet">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">

    <!-- base:css -->

    <!-- ico -->
    <!-- Favicons -->
    <link href="/imgs/base/favicon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/imgs/base/favicon.png" rel="icon" sizes="32x32" type="image/png">
    <!-- ico -->

    <!-- Twitter -->
    <meta content="summary_large_image" name="twitter:card">
    <meta content="" name="twitter:site">
    <meta content="{head->title}" name="twitter:title">
    <meta content="{head->description}" name="twitter:description">
    <meta content="" name="twitter:image">

    <!-- Facebook -->
    <meta content="{head->canonical}" property="og:url">
    <meta content="{head->title}" property="og:title">
    <meta content="{head->description}" property="og:description">
    <meta content="website" property="og:type">
    <meta content="1200" property="og:image:width">
    <meta content="630" property="og:image:height">
    <meta content="image/png" property="og:image:type">
    <meta content="" property="og:image">

</head>

