<div class="w-1 p-t p-b animation a1 sidenav" style="min-height: 90.7vh;">

    <div class="menu p-t">

        <a class="block animation a1 before after relative item-menu {head->menu-home}" href="/">
            <img alt="Visão Geral" class="svg" height="50" src="/imgs/base/svg/visao-geral.svg">
            <p>Visão Geral</p>
        </a>

        <a class="block animation a2 relative item-menu {head->menu-trades}" href="/trades">
            <img alt="Trades" class="svg" height="50" src="/imgs/base/svg/icon-trades.svg">
            <p>Trades</p>
        </a>

        <a class="hidden animation a3 relative item-menu {head->menu-investimentos}" href="/investimentos">
            <img alt="Investimentos" class="svg" height="50" src="/imgs/base/svg/icon-investimento.svg">
            <p>Investimentos</p>
        </a>

        <a class="block animation a4 relative item-menu {head->menu-relatorios}" href="/relatorios">
            <img alt="Relatórios" class="svg" height="50" src="/imgs/base/svg/icon-relatorio.svg">
            <p>Relatórios</p>
        </a>

        <a class="hidden animation a4 relative item-menu {head->activated}" href="/operacoes">
            <img alt="Operações" class="svg" height="50" src="/imgs/base/svg/icon-operacoes.svg">
            <p>Operações</p>
        </a>

        <a class="hidden animation a5 relative item-menu" href="/blog" target="_blank">
            <img alt="Blog" class="svg" height="50" src="/imgs/base/svg/icon-blog.svg">
            <p>Blog</p>
        </a>

    </div>


</div>