//colors
$white: #fff;
$clear: #edeef2;

$dark: #000;
$text: #1c2c42;



//generic
$info: #d9edf7;
$primary: #1c526f;
$secondary: #6c757d;
$gold: #e7b76a;

//custom colors
$linear0: #31708f;
$linear1: #003149;

//alerts
$warning: $gold;
$success: #339053;
$danger: #dc3545;

//fonts
$f-titles: 'Poppins', sans-serif;
$f-texts: $f-titles;

//conteiner
$column: 12;
$maxwidth: 1220px;

//Spaces
$padding: 17px;
$margin: 17px;

//sizes
$h1: 35px;
$h2: $h1 - 5px;
$h3: $h2 - 5px;
$h4: $h3 - 5px;
$h5: $h4 - 5px;
$h6: $padding - 4px;

$line: 30px;

//times
$time: 2s;

