//colors
$white: #fff;
$dark: #000;
$text: #3A3A3A;
$clear: #F6F6F6;

//generic
$info: #d9edf7;
$primary: #1c526f;
$secondary: #6c757d;

//custom colors
$linear0: #31708f;
$linear1: #003149;


//alerts
$warning: #ffc107;
$success: #339053;
$danger: #dc3545;

//fonts
$f-titles: 'Barlow', sans-serif;
$f-texts: 'Nunito Sans', sans-serif;

//conteiner
$column: 12;
$maxwidth: 1220px;

//Spaces
$padding: 17px;
$margin: 17px;

//sizes
$h1: 34px;
$h2: $h1 - 10px;
$h3: $h2 - 5px;
$h4: $h3 - 5px;

$h5: 14px;

$line: 30px;

//times
$time: 2s;

