.transition {
  transition: all .2s;
}

.animation {
  @extend .transition;
  animation-name: move;
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.a1 {
  animation-delay: 1s;
}

.a2 {
  animation-delay: 1.1s;
}

.a3 {
  animation-delay: 1.2s;
}

.a4 {
  animation-delay: 1.3s;
}

.a5 {
  animation-delay: 1.4s;
}

.a6 {
  animation-delay: 1.5s;
}

@keyframes move {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 1;
  }

}