.c-primary {
  color: $primary;
}

.c-secondary {
  color: $secondary;
}

.c-white {
  color: $white;
}

.c-text {
  color: $text;
}

.c-info {
  color: $info;
}

.c-warning {
  color: #ffc107;
}

.c-success {
  color: #339053;
}

.c-danger {
  color: #dc3545;
}

.c-gold{
  color: $gold;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-white {
  background-color: $white;
}

.bg-info {
  background-color: $info;
}

.bg-gold {
  background-color: $gold;
}

.bg-warning {
  background-color: #ffc107;
}

.bg-success {
  background-color: #339053;
}

.bg-danger {
  background-color: #dc3545;
}

