::-webkit-input-placeholder {
  opacity: 1;
}

:-moz-placeholder {
  opacity: 1;
}

::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

input, textarea, select {

  &:focus {
    outline: none;
  }

  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

}

._inProgress{
  @extend .bg-secondary;
  background: transparent;
}

.toggle {

  @extend .pointer;
  @extend .relative;
  @extend .border-0;
  @extend .m-t-low;
  @extend .after;
  @extend .before;

}

.toggle-div{
  margin-top: 0;
  @extend .toggle;
  @extend .relative;

  .button{
    @extend  h5;
    @extend  .p-all;
    @extend  .block;
    @extend  .button;
    @extend  .pointer;
    @extend  .borderRadius;
  }

  .content{
    height: 0;
    opacity: 0;
    @extend .w-12;
  }

  &:after{
    width: 0;
    height: 0;
    top: $padding;
    right: $padding;
    @extend .absolute;
    border-top: 10px solid $white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  input[type="checkbox"]:checked{
    margin-top: 0;

    ~ .content {
      opacity: 1;
      height: 100%;
      @extend  .p-l;
      @extend  .p-r;
      @extend  .p-b;
      @extend  .transition;
    }

    ~ :after {
      border-top-color: $primary;
      transform: rotate(270deg);
    }

  }

}

