{header}

<main class="bg-primary erro relative before background">

    <div class="table hv">

        <div class="p-all-upper animation a1 center cell-table wv hv">

            <div class="w-12 animation a1">

                <h1><b>Ops!</b></h1>

            </div>

            <div class="w-12 animation a2 p-t m-t">

                <p>Desculpe, mas você não tem acesso a visualização do conteúdo.</p>

            </div>

            <div class="w-12 animation a3 p-t m-t">

                <a class="btn bt-border btn-circle c-primary " href="/perfil/logout">Sair</a>

            </div>

        </div>

    </div>

    {copyright}

</main>

{footer}