@import "../base/variables";

.trade, .card{

  .avatar img{
    border: 1px solid $info;
  }

  .tag {
    color: $white;
    padding: 1px 5px;
  }

  .side{
    border-left: 1px solid $info;
  }

  .Compra *{
    color: $success;
  }

  .Venda *{
    color: $danger;
  }

  .recommend {
    padding: 0 10px;
    margin-top: 10px;
    background: $clear;
  }

  .type{
    top: -10px;
    right: -10px;
  }

  .premium{
    width: 100%;
    right: -37px;
    bottom: 10px;
    max-width: 125px;
    line-height: 20px;
    transform: rotate(-35deg);
  }

}

.card{

  .header{
    padding-bottom: 10px;
  }

  .values{
    padding-top: 10px;
    padding-bottom: 4px;
  }

}

.margin-card{
  .card{
    margin-bottom: $padding;
  }
}